asgiref==3.8.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.3
Django==4.2.11
importlib-metadata==6.11.0
logilab-common==2.0.0
mypy-extensions==1.0.0
pillow==10.2.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
zipp==3.18.1
