<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 소프트웨어융합대학원 K2022531 </title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
        <a href="/about_me/">about_me</a>
    </nav>
<h1> 안녕하세요. </h1>
<h2> 이력 및 나의 소개 </h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sed hic placeat dicta, natus labore voluptatum amet eius error doloremque velit quos deserunt eligendi autem impedit fugit exercitationem quas est.
Facere illum, reiciendis labore corrupti inventore sint rem! Praesentium cupiditate id vel tempora. Sit omnis quam labore, tempora debitis assumenda ratione vel praesentium facilis dolorem corporis consequatur culpa delectus voluptatem!
Mollitia corrupti repudiandae porro a ab architecto omnis iste! Consectetur animi eaque explicabo, alias velit mollitia quidem ut corrupti vel quis rem error qui ullam consequuntur. Deleniti inventore dolores dolore.
Alias reprehenderit perspiciatis placeat possimus, corrupti incidunt obcaecati fugiat quidem suscipit nihil autem accusamus. Aliquam omnis saepe vero vel ut. Harum maxime quia voluptates saepe esse? Illo voluptatum ratione hic.
Molestias labore est, blanditiis, consequuntur quasi nulla, facere tempore perspiciatis adipisci ipsum officia. Ipsum inventore molestiae commodi aliquam minus sit quod, amet perspiciatis enim ex in, nulla ea maxime architecto!</p>

<img src="https://picsum.photos/id/684/600/400" alt="">
</body>
</html>