<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 장고로 TDD </title>

    <nav>
                              <a href="/blog/">Blog</a>
                              <a href="/about_me/">about_me</a>
    </nav>

</head>
<body>

<h1> 안녕하세요. </h1>
<h2> 대문 페이지 만드는 중 </h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ad cumque explicabo consequuntur assumenda iusto soluta at fuga! Quos, aut obcaecati ratione cum facilis esse recusandae dignissimos voluptas. Maxime, qui.
Nobis eaque necessitatibus accusamus, explicabo magni nam pariatur itaque illum omnis rerum, beatae, accusantium qui expedita? Eaque obcaecati placeat aperiam molestias harum consequuntur libero impedit animi ducimus esse, architecto quae?</p>
</body>
</html>